*.swp
*.elc
*~
*.pyc
/install_cache
/.vnc/*
!/.vnc/config.d
/.vnc/config.d/*
!/.vnc/config.d/Xvnc
\#*#
/oh-my-zsh
/zsh-completions
/zsh-syntax-highlighting
/utils/in_hg
/utils/benchmark
.DS_Store
/.emacs.d/.lsp-*
/.emacs.d/elpa/*
/.emacs.d/history
/.emacs.d/projectile*
/.emacs.d/recentf
/.emacs.d/server/*
/.emacs.d/transient/*
/.emacs.d/eshell/*
/.emacs.d/artifacts/*
.\#*
