[user]
	email = stewart.dryden.smith@gmail.com
	name = Stewart Smith

[core]
        excludesfile = ~/.gitignore
	autocrlf = input

[alias]
        sl1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        sl2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        sl3 = log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %C(normal)%s%C(reset) %C(dim white)%an%C(reset) %C(dim blue)(%ar)%C(reset)' --all

        sl = !"git sl1"

        diffw = diff --color-words
        diffc = diff --color-words=.

        amend = commit --amend

        exec = '!exec '

        diff-staged = diff --cached
        diffw-staged = diffw --cached
        diffc-staged = diffc --cached

        unstage = reset
        undo-commit = reset --soft HEAD~1
        pull-rebase = pull --rebase

        root = rev-parse --show-toplevel

        rm-all-changes = !git checkout -f && git clean -fd

        track = add --intent-to-add

[init]
	defaultBranch = master
